<div id ="resetpassword-form" class="form-control">
  <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
 
  <label for="newpassword" class="sr-only">New password:</label>
  <input #newpassword id="newpassword" type="password" class="form-control" placeholder="New password" required autofocus>
  <br>
  <label for="retypepassword" class="sr-only">New password:</label>
  <input #retypepassword id="retypepassword" type="password" class="form-control" placeholder="Retype new password" required autofocus>
  <br>
  
  <button class="btn btn-lg btn-primary btn-block" (click)="updatePassword(newpassword.value, retypepassword.value)">Submit</button>
  <br>

  <div *ngIf="credentialsInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
      Invalid Credentials!
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; Cirrus 2019</p>
</div>