<!-- 
<div id ="recover-form" class="form-control">
  <h1 class="h3 mb-3 font-weight-normal">Recover your account</h1>
 
  <label for="recover-username" class="sr-only">Username</label>
  <input #username id="recover-username" type="text" class="form-control" placeholder="Username" required autofocus>
  
  <label for="security-question" class="sr-only">Security question:</label>
    
  <label #security for="security-question" type="text" class="sr-only" placeholder="security-question" >Question:</label>
    <label id="security-question" *ngFor="let question of questions">{{ question }}</label>
    
    <label for="answer" class="sr-only">Answer:</label>
    <input #answer id="answer" type="text" class="form-control" placeholder="Answer" required autofocus>
  
  <button class="btn btn-lg btn-primary btn-block" (click)="recoverAccount(username.value, answer.value)">Submit</button>
  <br>

  <div *ngIf="credentialsInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
      Invalid Credentials!
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; Revature 2017-2019</p>
  -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Recovery Password</h2>
        <form [formGroup]="recoveryForm" (ngSubmit)="onRetrieveQuestion()">

          <h2 class="form-signin-heading">Please enter Username</h2>

          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div *ngIf="usernameInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
            Invalid Username
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Recieve Recovery Question</button>
            <a routerLink="/login" class="btn btn-link">Login</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!--

<div *ngIf="correctUsername" class="container">
<h4>{{this.question}}</h4>

</div>


<div *ngIf= "correctUsername" >
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2>Answer Security Question</h2>
          <form [formGroup]="answerForm" (ngSubmit)="onAnswerQuestion()">

            <h2 class="form-signin-heading">Please enter Answer to Security Question</h2>

            <div class="form-group">
              <label>Rcovery Answer</label>
              <input type="text" formControlName="securityanswer" class="form-control" [ngClass]="{ 'is-invalid': submittedA && e.securityanswer.errors }" />
              <div *ngIf="submittedA && e.securityanswer.errors" class="invalid-feedback">
                <div *ngIf="e.securityanswer.errors.required">Please fill recovery answer section</div>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary">Submit</button>
              <a routerLink="/login" class="btn btn-link">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="correctAnswer" class="container">
<h3>{{this.password}}</h3> -->
<!-- Have password here -->