<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
         
            <h2>Account Recovery</h2>

            <h3>Please enter username</h3>
            <form [formGroup]="recoverForm" (ngSubmit)="onRecover()">
              
              <div class="form-group">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
                
             </div>
              <button [disabled]="loading" class="btn btn-primary">Request Recovery Account</button>
            
              <div *ngIf="credentialsInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
                Username does not exist
              </div>

              <br/>
              <a routerLink="/register" class="btn btn-link">Register</a>
              <a routerLink="/login" class="btn btn-link">Login</a>
            </form>
        </div>
      </div>
    </div>
  </div>

