<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form">
          <h2>Login</h2>
          <label for="username">Username</label>
          <input type="text" class="form-control" />


          <label for="password">Password</label>
          <input type="password" class="form-control" />


          <button class="btn btn-lg btn-primary btn-block" (click)="login(username.value, password.value)">Login</button>
          <a routerLink="/register" class="btn btn-link">Register</a>

          <div *ngIf="credentialsInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
            Invalid Credentials!
          </div>
          <a routerLink="/dashboard" class="btn btn-link">Test dashboard</a>

        </div>
      </div>
    </div>
  </div>
</div>