<h1 class="text-center">Welcome to Cirrus Gaming Platform</h1>
<br/>
<br/>
<div class="d-flex justify-content-center">
      <div class="d-flex flex-column">

        
          <p class="justify-content-center"><button class="mybtn btn btn-primary"><a class="dropdown-item" routerLink="/login" >Login</a></button></p>
          <br/>
          <p class="justify-content-center"><button class="mybtn btn btn-primary"><a class="dropdown-item" routerLink="/register">Register</a></button></p>
          <br/>
          <p class="justify-content-center"><button class=" mybtn btn btn-primary"><a class="dropdown-item" routerLink="/accountrecovery">Forgot password</a></button></p>
        

      </div>
    </div>
