<p>
  welcome works!
  have top logo
  <a class="dropdown-item" routerLink="/login">Login</a>
  <a class="dropdown-item" routerLink="/register">Register</a>
</p>





<h1 class="text-center">Welcome to Cirrus Gaming Platform</h1>


<div class="container Logo">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ><img style="	width: 64px;" src="" alt="CirrusLogo">Cirrus Logo</a>
      </div>
      <div id="navbar5" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register">Register</a></li>
          <!-- <li><a class="dropdown-item" routerLink="/accountrecovery">Forgot Password</a></li> -->
        </ul>
      </div>
      
    </div>

  </nav>

</div>