<h1 class="text-center">Welcome to Cirrus Gaming Platform</h1>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <p>
          welcome works!
          have top logo
          <a class="dropdown-item" routerLink="/login" >Login</a>
          <a class="dropdown-item" routerLink="/register">Register</a>
          <a class="dropdown-item" routerLink="/accountrecovery">Forgot password</a>
        </p>

      </div>
    </div>
  </div>
</div>