<p>
  game-board works!
</p>




<div class="table-wrapper" >
  <table>
    <tr>
      <td (click)="makeAMove($event, 0)">{{board[0]}}</td>
      <td (click)="makeAMove($event, 1)">{{board[1]}}</td>
      <td (click)="makeAMove($event, 2)">{{board[2]}}</td>
    </tr>
    <tr>
      <td (click)="makeAMove($event, 3)">{{board[3]}}</td>
      <td (click)="makeAMove($event, 4)">{{board[4]}}</td>
      <td (click)="makeAMove($event, 5)">{{board[5]}}</td>
    </tr>
    <tr>
      <td (click)="makeAMove($event, 6)">{{board[6]}}</td>
      <td (click)="makeAMove($event, 7)">{{board[7]}}</td>
      <td (click)="makeAMove($event, 8)">{{board[8]}}</td>
    </tr>
  </table>
  
