

<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<li *ngIf="authService.hasToken()"><a (click)="authService.logout()">Logout</a></li>

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
    </li>
</ul> -->

<navbar></navbar>
<br>
<div class="col-md-6 offset-md-3">
 <game-board ></game-board>
</div>

<!-- <div>
<br/>
<h2 class="lead">Create New game</h2>

<form [formGroup]="newGameForm" (ngSubmit)="onCreateNewGame()">

    <label for="username">Enter Other Player's Username</label>
    <input type="text" formControlName="player2username" class="form-control" />
    
    <button  class="btn btn-primary">Login</button>
    <div *ngIf="usernameInvalid" class="alert alert-danger text-center" id="alert-msg" role="alert">
      Invalid Credentials!
    </div>
    <br />
  </form>

</div>
<button (click)="gameService.getAllGamesInProgress()" class="btn btn-primary" > See All games in Progress</button>
<br> -->


<div>
<button (click)="authService.logout()" class="btn btn-primary" > Logout</button>
</div>


    

