

<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<li *ngIf="authService.hasToken()"><a (click)="authService.logout()">Logout</a></li>

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
    </li>
</ul> -->

<navbar></navbar>
<br>
<div class="col-md-6 offset-md-3">
 <game-board ></game-board>
</div>

<div>
<br/>
<h2 class="lead">New game</h2>
<br>
<button (click)="authService.logout()" class="btn btn-primary" > Logout</button>
</div>


    

