.cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
    font-size: 20px; 
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cell:hover {
      background-color: #c1cdcd;
}