<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Edit details:</h2>
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">

          <div class="form-group">
            <label>Security Question</label>
            <input type="text" formControlName="question" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && x.question.errors }" />
            <div *ngIf="submitted && x.question.errors" class="invalid-feedback">
              <div *ngIf="x.question.errors.required">Something didn't work there. Tell me: what is the question?</div>
            </div>
          </div>

          <div class="form-group">
            <label>Security Answer</label>
            <input type="answer" formControlName="answer" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && x.answer.errors }" />
            <div *ngIf="submitted && x.answer.errors" class="invalid-feedback">
              <div *ngIf="x.answer.errors.required">Something didn't work there... Maybe that's the wrong answer.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && x.password.errors }" />
            <div *ngIf="submitted && x.password.errors" class="invalid-feedback">
              <div *ngIf="x.password.errors.required">You've changed your password inappropriately</div>
            </div>
          </div>

          <div class="form-group">
            <label>You're so interesting! Tell us about yourself:</label>
            <textarea type="text" formControlName="aboutMe" class="form-control" rows="4" cols="50"
              [ngClass]="{ 'is-invalid': submitted && x.aboutMe.errors }"></textarea>
            <div *ngIf="submitted && x.aboutMe.errors" class="invalid-feedback">
              <div *ngIf="x.aboutMe.errors.required">Something didn't work there. Maybe try telling me something
                different...</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Click this big ole button to submit changes</button>

            <a routerLink="/login" class="btn btn-link">Don't click here unless you want to go back to the login
              page</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
