
<div id="userlist-form" class="form-control">
  <h1 class="h3 mb-3 font-weight-normal">User List</h1>
 
  <label for="user-list" class="sr-only"> username </label>
  <label #userlist id="user-list" type="text" class="form-control"  *ngFor="let user of users">{{ user.email }} <br></label>
  <br>
  <input #userlistemail id="user-list-email" type="text" class="form-control" value="{{ user.email }}"  *ngFor="let user of users">
  
  <h2>{{ users.length }} users list</h2>
  <ul>
  <li *ngFor="let user of users">
    {{ user.id }}
    {{ user.username }}
  </li>
</ul> 
  <p class="mt-5 mb-3 text-muted">&copy;  Cirrus 2019</p>
</div>