<div class="form-controler">  
   
  <body id="body">
            <br>
            <br>
            <br>
          <div id="scorelist" class="container">   
          <h1>RULES FOR TIC-TAC-TOE</h1>
          <br>

          <table id="table" class="table">
            
              <tr class="row">1. The game is played on a grid that's 3 squares by 3 squares. </tr> 
              <tr class="row">2. One player is X, the second player is O. Players take turns putting their marks in empty squares. </tr> 
              <tr class="row">3. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.</tr>    
              <tr class="row">4. When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a tie.</tr>  
         
          </table>
          </div>
        </body>