<div id="gamelist" class="container">
  <table id="table" class="table">
    <thead>
      <tr>
        <th>Game ID</th>
        <th>Player X</th>
        <th>Player O</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ this.game.gameId }}</td>
        <td>{{ this.game.playerX}}</td>
        <td>{{ this.game.playerO }}</td>
        <td>{{ this.game.result }}</td>
      </tr>
    </tbody>
</table>

<form class="form-group" [formGroup]="gameForm" (ngSubmit)="goToGame()">
  <label  for="gameid">Enter game ID you want to view</label>
  <br>
  <input type="number" formControlName="gameid" class="form-control" />
  <br>
  <button class="btn btn-primary">Play Game </button>
</form>
