<!-- <table>
  <thead>
    <tr>
      <th>Game Id</th>
      <th>PlayerX</th>
      <th>PlayerO</th>
      <th>In progress</th>
      <th>Completed</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td>{{ this.game.id }}</td>
      <td>{{ this.game.playerX}}</td>
      <td>{{ this.game.playerO }}</td>
      <td>{{ this.game.started }}</td>
      <td>{{ this.game.finished }}</td>
      <td>{{ this.game.finished }}</td>

    </tr>
  </tbody>
</table> -->
<p>For Games See console</p>
