<body id="body">

  <br>
  <br>
  <br>
  
<div id="gamelist" class="container">

  <table id="table" class="table">
    <tr  class="row" *ngFor="let game of games">
      <td class="col"> Game id:  {{ this.game.gameId }} </td> 
      <td  class="col"> Player X:  {{ this.game.playerX}}</td> 
      <td  class="col"> Player O:  {{ this.game.playerO }}</td>
      <td class="col"> Game result: {{ this.game.result }}</td> 
    </tr>
</table>

<form class="form-group" [formGroup]="gameForm" (ngSubmit)="goToGame()">

  <label  for="gameid">Enter game ID you want to play</label>
  <br>
  <input type="number" formControlName="gameid" class="form-control" />
  <br>
  <button class="btn btn-primary">Play Game </button>
</form>
  
<p>For Games See console</p>
<br>  <br>
</div>
</body>